body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

#newsimg{
    border-radius: 5px;
    width: 280px;
    height: 200px;
}

.news__item{
    padding: 2px;
    font-size: 30px;
    text-align: center;
     list-style-type: none;
     border-left:none;
     border-right:none;
     border-bottom:none;
     box-shadow: 0px 2px 4px grey;
     border-top: solid limegreen;
     
   
     
     
}

.formatnews{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    border-radius: 5px;

}


p{
    font-size:14px;
}
